.privacy-agreement {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10000;

  .popup {
    height: 550px;
    position: fixed;
    background-color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 28px 28px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      margin-top: 80px;
      font-size: 32px;
      color: #161615;
      line-height: 60px;
    }

    .content {
      margin: 40px 30px 80px 30px;
      font-size: 28px;
      font-weight: normal;
      color: #6e6e6e;
      line-height: 50px;

      .desc {
        color: #328ef5;
      }
    }

    .footer {
      margin: 0 30px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item-btn {
        width: 328px;
        height: 88px;
        border-radius: 44px;
        font-weight: 500;
        box-sizing: border-box;
        line-height: 88px;
        text-align: center;
        padding: unset;
        font-size: 32px;
        box-sizing: border-box;
      }

      .disagree-btn {
        border: 1px solid #ff7c00;
        color: #fc8b2e;
        background-color: #fff;
      }

      .agree-btn {
        background: linear-gradient(-4deg, #fd9d2e, #fba92c);
        color: #ffffff;
        text-align: center;
        padding: unset;
      }
    }
  }
}
