page {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: 15px;
  padding-bottom: env(safe-area-inset-bottom);
}
.function_flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
